body{
    margin:0;
    padding: 0;
  }

.jumbotron{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.block1{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left:5px;
    padding-right: 5px; 
    height: auto;
}

.btn.btn-warning{
    margin-top: 20px;
}

.linehr{
    border: 1px solid grey;
    width: 1px;
    margin:auto;
    height: 100%;
}
.block2{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;

}

.button-row{
    display: flex;
    flex-direction: row;
}
.btn.btn-primary{
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

input[type=checkbox]{
    margin-left: 10px;
}

ul{
    list-style: none;
}